<form class="form" [formGroup]="testForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label class="col-3" for="id">Entry ID</label>
    <div class="input-group col-9">
      <div class="input-group-prepend" (click)="toggleListening('id')">
        <div [ngClass]="{'input-group-text-listening':isListening && formControlCurr == 'id'}"
          class="input-group-text">
          <mat-icon>settings_voice</mat-icon>
        </div>
      </div>
      <input class="form-control" id="id" formControlName="id" type="text">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3" for="location">Location</label>
    <div class="input-group col-9">
      <div class="input-group-prepend" (click)="toggleListening('location')">
        <div [ngClass]="{'input-group-text-listening':isListening && formControlCurr == 'location'}"
          class="input-group-text">
          <mat-icon>settings_voice</mat-icon>
        </div>
      </div>
      <input class="form-control" id="location" formControlName="location" type="text">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3" for="plant">Plant</label>
    <div class="input-group col-9">
      <div class="input-group-prepend" (click)="toggleListening('plant')">
        <div [ngClass]="{'input-group-text-listening':isListening && formControlCurr == 'plant'}"
          class="input-group-text">
          <mat-icon>settings_voice</mat-icon>
        </div>
      </div>
      <input class="form-control" id="plant" formControlName="plant" type="text">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3" for="date">Date</label>
    <div class="input-group col-9">
      <div class="input-group-prepend" (click)="toggleListening('date')">
        <div [ngClass]="{'input-group-text-listening':isListening && formControlCurr == 'date'}"
          class="input-group-text">
          <mat-icon>settings_voice</mat-icon>
        </div>
      </div>
      <input class="form-control" id="date" formControlName="date" type="date">
    </div>
  </div>
  <button class="btn btn-primary offset-4 col-4" type="submit">Show</button>
</form>
